* {
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header > h3 {
  font-weight: 500;
}

.layer-bg {
  width: 80%;
  margin: 0 auto;
}

.genap {
  background-color: #4ee33d;
  padding: 53px;
  border-radius: 10px;
  box-shadow: inset 6px 6px 8px 0 rgba(0, 0, 0, 0.4),
    inset 6px 6px 10px 0 rgba(255, 255, 255, 0.2);
}

.ganjil {
  background-color: #dbed34;
  padding: 53px;
  border-radius: 10px;
  box-shadow: inset 6px 6px 8px 0 rgba(0, 0, 0, 0.4),
    inset 6px 6px 10px 0 rgba(255, 255, 255, 0.2);
}

.prima {
  background-color: #eb4034;
  padding: 53px;
  border-radius: 10px;
  box-shadow: inset 6px 6px 5px 0 rgba(0, 0, 0, 0.4),
    inset 6px 6px 10px 0 rgba(255, 255, 255, 0.2);
}

.card {
  text-align: center;
  color: #ffffff;
  font-weight: bolder;
  font-size: 26px;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  gap: 4px;
  margin-top: 40px;
}

.color {
  font-size: 20px;
  padding: 23px;
  border-radius: 10px;
  box-shadow: inset 6px 6px 5px 0 rgba(0, 0, 0, 0.4),
    inset 6px 6px 10px 0 rgba(255, 255, 255, 0.2);
}

.hexcolor {
  margin-top: 20px;
}

.title-ch {
  margin-top: 100px;
  text-align: center;
}
